body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  font-size: 13px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}

/* I didn't know you could add multiple parameters to things like the margin and the padding, good to know